<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Charge declined
</p>
<p>
  We couldn't process your payment because you declined the charge from Shopify.
</p>
<div style="height: 25px;"></div>

<%= form_tag(retry_charge_path, method: :post) do %>
  <a class="Polaris-Button" href="<%= tier_path %>">Choose a plan</a>
  <span style="padding: 0 10px;">or</span>
  <button 
    type="submit" 
    class="Polaris-Button Polaris-Button--primary">
    <span class="Polaris-Button__Content">
      <span class="Polaris-Button__Text">Try again</span>
    </span>
  </button>
  </p>
<% end %>
