<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Your app charge has expired
</p>
<p>Please accept a new charge before continuing.</p>
<div style="height: 25px;"></div>
<%= form_tag(retry_charge_path, method: :post) do %>
  <button 
    type="submit" 
    class="Polaris-Button Polaris-Button--primary">
    <span class="Polaris-Button__Content">
      <span class="Polaris-Button__Text">Try again</span>
    </span>
  </button>
<% end %>
