<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Missing app charge
</p>

<p>
  We have checked our records and Shopify's and we cannot find your recurring
  charge for <%= Gold.configuration.app_name %>. The following might prompt you to approve a new charge with
  Shopify. Don't worry, this will replace any existing charge so you won't be
  double-charged.
</p>

<div style="height: 25px;"></div>

<%= form_tag(retry_charge_path, method: :post) do %>
  <button 
    type="submit" 
    class="Polaris-Button Polaris-Button--primary">
    <span class="Polaris-Button__Content">
      <span class="Polaris-Button__Text">Continue</span>
    </span>
  </button>
<% end %>
