<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Outstanding app charge
</p>

<p>
  Please approve this charge before continuing. You will be redirected to Shopify's billing
  to accept this charge.
</p>

<div style="height: 25px;"></div>

<a class="Polaris-Button Polaris-Button--primary"
   id="confirmation-button"
   href="<%= @confirmation_url %>">View charges</a>