<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Uh oh! Your store is currently suspended
</p>

<p>
  We should have sent you an email about why your store is suspended. Please 
  reach out to our 
  <a href="mailto:<%= Gold.configuration.contact_email %>" target="_blank">support team</a>
   so we can work with you on a resolution.
</p>
