<h1>Terms of Service</h1>

<% if @error %>
  <p class="error">
    You must accept the terms of service before continuing.
  </p>
<% end %>

<p>
  This is where a set of terms and conditions should go.
</p>

<% if @already_accepted %>
  <p>
    You have already accepted these terms.
  </p>
<% else %>
  <%= form_tag(terms_path, method: :put) do %>
    <%= submit_tag "Decline", name: "decline" %>
    <%= submit_tag "Accept", name: "accept" %>
  <% end %>
<% end %>
