<h1>Select a Tier</h1>

<p>
  Here are the tiers that are available to you. You can always come back here
  later and choose a different tier.
</p>

<%= form_tag(select_tier_path, method: :put) do %>
  <% @tiers.each do |tier| %>
    <div>
      <% @current_tier = billing.tier == tier %>
      <% @unavailable = !billing.qualifies_for_tier?(tier) %>
      <label>
        <%= radio_button_tag :tier, tier.id, @current_tier, disabled: @unavailable %>
        <%= tier.name %>
        <% if @current_tier && @unavailable %>
          (This your current tier and you have outgrown it with your usage)
        <% elsif @current_tier %>
          (This is your current tier)
        <% elsif @unavailable %>
          (This tier is not available based on your current usage)
        <% end %>
      </label>
    </div>
  <% end %>

  <%= link_to "Cancel", main_app.root_path %>
  <%= submit_tag "Select" %>
<% end %>
