<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Oops! Request failed
</p>

<p>
  We're sorry, but we couldn't respond to your request. Please
  <a href="<%= shopify_app.logout_path %>" class="Polaris-Link">logout</a>
  and try again in a few minutes. If the problem persists, please reach out to our
  <a class="Polaris-Link" href="mailto:<%= Gold.configuration.contact_email %>">support team</a> and we'll get right on it.
</p>