<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  Install unavailable
</p>

<p>Drat! We're sorry, but we couldn't install the app at this time. Please try again in a few minutes or contact our support.</p>
<div style="height: 25px;"></div>
<a class="Polaris-Button" href="<%= shopify_app.login_path %>">Try again</a>
  