<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
  <%= Gold.configuration.app_name %> is uninstalled
</p>


<p>
  It looks like you have uninstalled this app recently or your store was previously frozen.
</p>
<div style="height: 25px;"></div>
<p>
  <a class="Polaris-Button Polaris-Button--primary-button" 
  href="<%= shopify_app.login_path %>">Reinstall</a>
</p>
