body
  display: flex
  align-items: stretch
  margin: 0
  padding: 0

  main
    min-height: 100%
    width: 50%
    padding: 180px 25px 25px 25px
    background-color: white
    position: relative
    overflow: auto
    flex: 1

    &:before
      content: asset-url('gold/app-logo.svg')
      position: absolute
      top: 0
      left: 0
      opacity: 0.2
      width: 175px

    .main-content
      margin: auto
      max-width: 700px

  aside
    width: 50%
    background: #160A2C
    background-image: asset-url('gold/aside-bg.svg')
    background-repeat: no-repeat
    background-position: 0 40%
    background-size: 700px

    @media (max-width: 1200px)
      width: 25%
      background-position: 25% 40%

    @media (max-width: 900px)
      display: none

.tiers
  .tier
    border-top: 1px solid #DFE3E8
    padding: 15px 0 5px 0
    cursor: pointer
    background: white
    position: relative

    &[data-disabled]
      .tier-heading
        opacity: 0.5

    &:first-of-type
      border-top: none

    .Polaris-Choice
      width: 100%
      align-items: center
      
    .Polaris-Choice__Control
      margin-right: 15px

    .Polaris-Choice__Label
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      flex-wrap: wrap

    .tier-description
      max-width: 300px

      @media (max-width: 800px)
        width: 100%
        max-width: none
        margin-top: 10px