<!DOCTYPE html>
<html>
  <head>
    <title>Gold-enabled App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <hr>
    <p>&copy; <%= Date.current.year %> Gold-enabled App</p>
  </body>
</html>
