<h1>Please approve app charges</h1>
<p>Hey <%= @shop.shop_owner %>,</p>

<p>
  We noticed that you've updated your store from a development shop 
  to a paid plan. Feels good doesn't it?
</p>

<p>
  Since we don't charge for partner stores, we haven't been charging 
  you to use <%= Gold.configuration.app_name %>. Now that your store is live, you'll
  have to approve a charge to continue using the app. 
  <strong>
    You must approve this charge within <%= Gold.configuration.days_until_delinquent %> days to avoid interruption of service.
  </strong>
</p>

<p>
  <a class="button" href="<%= @confirmation_url %>">Approve charge</a>
</p>
<div>
  or <a href="<%= Gold.configuration.plan_comparison_url %>">compare plans</a>
</div>