<h1>Your account has been frozen</h1>
<p>Hey <%= @shop.shop_owner %>,</p>
<p>
  We have suspended access to your <%= Gold.configuration.app_name %> usage for
  <%= @shop.myshopify_domain %> because we have not received an authorization of
  payment towards your new billing tier.
</p>
<p>
  Please respond to this email promptly by logging into the app and approving
  the displayed charge. If we do not hear from you for more than 30 days, we may
  choose to delete your account.
</p>
<p>
  If you think this has been made in error, please respond to this email and we'll
  help you get things sorted!
</p>
<p>
  <a href="<%= shopify_app.login_url %>" class="button">Log in</a>
</p>

<p>
  Regards,
</p>
<p>
  Helium Support
</p>
