<h1>Your account has been suspended</h1>
<p>Hey <%= @shop.shop_owner %>,</p>
<p>
  We've suspended access to your <%= Gold.configuration.app_name %> usage for
  <%= @shop.myshopify_domain %> because we believe you are in violation of our
  terms of service. Until we have reconciled this problem, you will not be able 
  to access the app, nor will your customers be able to interact with it.
</p>
<p>
  Please respond to this email promptly by asking how to resolve this suspension
  and we can advise you on how to proceed. If we do not hear from you for more
  than 30 days, we may choose to delete your account.
</p>
<p>
  Regards,
</p>
<p>
  Helium Support
</p>
