- @active_charge = current_shop.active_charge
- @subscription = current_shop.subscription

- if current_shop.billing_required?
  h3 Current plan
  p
    => current_shop.plan.capitalize
  h3 Free Trial
  - if @subscription && @subscription.trial_days_left > 0
    p.green You have #{@subscription.trial_days_left} days left on your trial.
      
    - if current_shop.subscriptions.count > 1
      p Note: Since you've had multiple subscriptions, free trial days may show for pro-rated purposes only (so we don't double charge you). Your subscription will continue automatically without your renewal unless cancelled.
  h3 Payment Details
  - if @active_charge
    p Next payment of $#{@active_charge.price} on #{@active_charge.billing_on.to_date.strftime('%b %d, %Y')}
      
    p.lite You may cancel any time by uninstalling the app from your Shopify store. This will automatically cancel any billing subscriptions.
  - else
    p No active charge.
- else
  p.green This is a free account. Sweet!
