<div class="card mb-3">
  <div class="card-header">
    <strong>Active charge</strong>
  </div>
  <div class="card-body">
    <% billing.shop.with_shopify_session do %>
      <% charge = @active_charge %>
      <% if charge %>
        <% if charge.test %>
          <span class="badge badge-warning">test charge</span>
          <hr>
        <% end %>
        <p>Name<br> <strong><%= charge.name %></strong></p>
        <p>ID<br> <strong><%= charge.id %></strong></p>
        <p>Monthly<br> <strong>$<%= charge.price %></strong></p>
        <p>Trial days<br> <strong><%= charge.trial_days %></strong></p>
        <p>Created at<br> <strong><%= DateTime.parse(charge.created_at).strftime("%Y-%m-%e %H:%M") %></strong></p>
        <p>Trial ends on<br> <strong><%= charge.trial_ends_on %></strong></p>
        <p>Next billing<br> <strong><%= charge.billing_on %></strong></p>

        <%= form_tag(gold_admin_engine.cancel_charge_path(id: billing.id, charge_id: charge.id), method: :delete) do %>
          <%= submit_tag 'Cancel charge', class: "btn btn-danger", data: {confirm: "Are you really sure you want to cancel this charge?"} %>
        <% end %>
      <% else %>
        No charge from Shopify
      <% end %>
    <% end %>
  </div>
</div>