<% billing.shop.with_shopify_session do %>
  <div class="card mb-3">
    <div class="card-header">
      <strong>Credit</strong>
    </div>
    <div class="card-body">
      <h6>Credits</h6>
      <% if @credits.any? %>
        <table class="table celled">
          <thead>
            <tr>
              <th>Reason</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @credits.each do |credit| %>
              <tr>
                <td>
                  <%= credit.description %>
                  <% if credit.test %>
                    <strong>(test)</strong>
                  <% end %>
                </td>
                <td>
                  <%= number_to_currency(credit.amount) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No active credits</p>
      <% end %>
      <hr>
      <%= form_tag(gold_admin_engine.issue_credit_path(id: billing.id), method: :post) do %>
        <p>Give the merchant a credit for next month (in dollars)</p>
        <%= number_field_tag 'amount', 0, size: 3 %>
        <%= text_field_tag 'reason', '', placeholder: 'Reason to merchant' %>
        <div>
          <hr>
          <%= submit_tag 'Issue Credit', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>