<div class="card mb-3">
  <div class="card-header">
    <strong>Discount</strong>
  </div>
  <div class="card-body">
    <%= form_tag(gold_admin_engine.apply_discount_path(id: billing.id), method: :put) do %>
      <input 
        type="number" 
        name="percentage" 
        min="0"
        max="100"
        value="<%= billing.discount_percentage %>">%
      <div>
        <hr>
        <%= submit_tag 'Apply discount', class: "btn btn-primary", data: {confirm: "Are you really sure you want to apply this discount?"} %>
      </div>
    <% end %>
  </div>
</div>