
<div class="card">
  <div class="card-header">
    <strong>History</strong>
  </div>
  <div class="card-body">
    <p>These are all the billing-related events that have happened. 
    Only forcefully transition to a state as a last resort.</p>

    <div class="mb-4">
      <%= form_tag(gold_admin_engine.transition_path, method: :put) do %>
        <input type="hidden" name="id" value="<%= billing.id %>">
        <div>
          Transition from <mark><%= billing.current_state %></mark>
          &rarr;
          <select name="to" class="mr-2">
            <option value="">Select a state...</option>
            <% Gold::Machine.successors.with_indifferent_access[billing.current_state].each do |transition| %>
              <option><%= transition %></option>
            <% end %>
          </select>
        </div>
        <div class="mb-2 mt-2">
          Metadata: 
          <input type="text" name="metadata[key]" placeholder="key">
          <input type="text" name="metadata[value]" placeholder="value">
        </div>
        <%= submit_tag 'Transition', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div style="max-height: 500px; overflow: auto;">
      <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th>Date</th>
            <th>State</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody>
          <% last_transition = nil %>
          <% billing.state_machine.history.where.not(to_state: "check_charge").reverse.each do |transition| %>
            <%# This hides all the check_charges and back to billing %>
            <% if transition.to_state == "billing" %>
              <% unless last_transition&.to_state == "billing" %>
                <tr>
                  <td><%= transition.created_at.localtime.strftime("%Y-%m-%e %H:%M") %></td>
                  <td><%= transition.to_state %></td>
                  <td><%= transition.metadata %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td><%= transition.created_at.localtime.strftime("%Y-%m-%e %H:%M") %></td>
                <td><%= transition.to_state %></td>
                <td><%= transition.metadata %></td>
              </tr>
            <% end %>
            <% last_transition = transition %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
