<%= render "gold/admin/billing/state", billing: billing %>
<% tier = billing.tier %>
<% if tier %>
  <%= render "gold/admin/billing/tier", billing: billing, tier: tier %>
<% end %>
<%= render "gold/admin/billing/active_charge", billing: billing %>
<%= render "gold/admin/billing/status", billing: billing %>
<%= render "gold/admin/billing/discount", billing: billing %>
<% if tier %>
  <%= render "gold/admin/billing/trial_days", billing: billing %>
<% end %>
<%= render "gold/admin/billing/credit", billing: billing %>
<%= render "gold/admin/billing/shopify_plan", billing: billing %>
<%= render "gold/admin/billing/history", billing: billing %>