<div class="card mb-3">
  <div class="card-header">
    <strong>Shopify Plan Override</strong>
  </div>
  <div class="card-body">
    <%= form_tag(gold_admin_engine.override_shopify_plan_path(id: billing.id), method: :put) do %>
      <p>
        Actual Shopify plan:
        <% begin %>
          <span class="badge badge-info"><%= billing.shop.shopify_plan_name %></span>
        <% rescue ActiveResource::ClientError %>
          unknown
        <% end %>
      </p>
      <input 
        type="text" 
        name="plan" 
        value="<%= billing.shopify_plan_override %>">
      <div>
        <hr>
        <%= submit_tag 'Override', class: "btn btn-primary", data: {confirm: "Are you really sure you want to override plan?"} %>
      </div>
    <% end %>
  </div>
</div>