<div class="card mb-3">
  <div class="card-header">
    <strong>Account status</strong>
  </div>
  <div class="card-body">
    <% if billing.current_state.to_s.include?("suspended") %>
      <p>This account is currently <strong>suspended</strong></p>
      <%= form_tag(gold_admin_engine.unsuspend_path(id: billing.id), method: :put) do %>
        <%= submit_tag 'Unsuspend', class: "btn btn-secondary", data: {confirm: "Are you really sure you want to UNSUSPEND this account?"} %>
      <% end %>
    <% else %>
      <p>This account is currently <strong>allowed</strong></p>
      <% if billing.can_transition_to? :marked_as_suspended %>
        <%= form_tag(gold_admin_engine.suspend_path(id: billing.id), method: :put) do %>
          <div>
            <label>
              <input type="checkbox" name="confirm_suspend"> Yes I want to suspend this account
            </label>
          </div>
          <%= submit_tag 'Confirm suspend', class:"btn btn-secondary btn-danger", data: {confirm: "Are you really sure you want to SUSPEND this account?"} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>