<div class="card mb-3">
  <div class="card-header"><strong>Status</strong></div>
  <div class="card-body">
    <h3 class="badge
      <% if billing.state_machine.accepted? %>
        badge-success
      <% else %>
        badge-warning
      <% end %>">
      <%= billing.current_state %>
      <% metadata = billing.transitions.last&.metadata %>
      <% if metadata&.keys&.any? %>
        &rarr;
        <%= metadata.to_a.join(": ") %>
      <% end %>
    </h3>

    <% if billing.can_transition_to?(:optional_charge_declined) %>
      <%= form_tag(gold_admin_engine.transition_path(id: billing.id), method: :put) do %>
        <input type="hidden" name="to[]" value="optional_charge_declined">
        <input type="hidden" name="to[]" value="billing">
        <%= submit_tag 'Decline', class: "btn btn-danger btn-sm", data: { confirm: "Are you sure you want to decline this charge?" } %>
      <% end %>
    <% end %>
  </div>
</div>