<div class="card mb-3">
  <div class="card-header"><strong>Tier</strong></div>
  <div class="card-body">
    <table class="table">
      <tr>
        <td><h6>Plan</h6></td>
        <td><h6>Plan ID</h6></td>
        <td><h6>Monthly price</h6></td>
        <td><h6>Plan trial days</h6></td>
        <td><h6>Trial days left</h6></td>
        <td><h6>Features</h6></td>
      </tr>
      <% next_tier = billing.last_selected_tier %>
      <% if tier.id != next_tier.id %>
        <tr>
          <td><%= next_tier.name %> <span class="badge badge-warning">pending</span></td>
          <td>
            <span class="badge badge-info"><%= next_tier.id %></span>
          </td>
          <td>
            <% next_tier_price = next_tier.monthly_price %>
            <% next_tier_calc_price = billing.calculate_price(next_tier) %>

            <% if next_tier_price != next_tier_calc_price %>
              <s><%= number_to_currency(next_tier_price) %></s>
            <% end %>

            <%= number_to_currency(next_tier_calc_price) %>
          </td>
          <td><%= next_tier.trial_days %></td>
          <td><%= billing.calculate_trial_days(next_tier) %></td>
          <td>
            <% next_tier.features.each do |feature| %>
              <div>
                <span class="badge badge-success"><%= feature.join(": ") %></span>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if tier %>
        <tr>
          <td><%= tier.name %> <span class="badge badge-success">active</span></td>
          <td>
            <span class="badge badge-info"><%= tier.id %></span>
          </td>
          <td>
            <% tier_price = tier.monthly_price %>
            <% tier_calc_price = billing.calculate_price(tier) %>
            
            <% if tier_price != tier_calc_price %>
            <s><%= number_to_currency(tier_price) %></s>
            <% end %>
            
            <%= number_to_currency(tier_calc_price) %>
          </td>
          <td><%= tier.trial_days %></td>
          <td><%= billing.calculate_trial_days(tier) %></td>
          <td>
            <% tier.features.each do |feature| %>
              <div>
                <span class="badge badge-success"><%= feature.join(": ") %></span>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <hr>
    <% if billing.can_transition_to?(:change_tier) %>
      <%= form_tag(gold_admin_engine.change_tier_path(id: billing.id), method: :put) do %>
        Change tier &rarr;
        <select name="tier" class="mr-2">
          <option value="">Select a tier...</option>
          <%= Gold::Tier.all.each do |_tier| %>
            <% price_difference = _tier.monthly_price - tier.monthly_price %>
            <option value="<%= _tier.id %>" <% if _tier.locked? %>disabled<% end %>>
              <%= _tier.name %>
              <% if _tier.free? %>
                (free)
              <% elsif price_difference > 0 %>
                (+<%= number_to_currency(price_difference) %>)
              <% elsif price_difference < 0 %>
              (-<%= number_to_currency(price_difference.abs) %>)
              <% end %>

              <% if _tier.locked? %>(locked)<% end %>
            </option>
          <% end %>
        </select>
        <%= submit_tag 'Apply', class: "btn btn-primary btn-sm" %>
      <% end %>
    <% else %>
      <p>Can't change tiers, because the current state doesn't allow it</p>
    <% end %>
    <br />
    <a data-toggle="collapse" href="#collapsePlans" role="button" aria-expanded="false" aria-controls="collapsePlans">
      See all plans
    </a>
    
    <table id="collapsePlans" class="table celled collapse">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Monthly price</th>
          <th>Trial days</th>
          <th>Features</th>
          <th>Qualifications</th>
        </tr>
      </thead>
      <tbody>
        <% Gold::Tier.all.each do |tier| %>
          <tr>
            <td><%= tier.id %></td>
            <td>
              <%= tier.name %>

              <div>
                <% if tier.locked? %>
                  <span class="badge badge-warning">locked</span>
                <% end %>
  
                <% if tier.free? %>
                  <span class="badge badge-info">free</span>
                <% end %>
  
                <% unless tier.visible? %>
                  <span class="badge badge-secondary">hidden</span>
                <% end %>
              </div>
            </td>
            <td><%= number_to_currency(tier.monthly_price) %></td>
            <td><%= tier.trial_days %></td>
            <td>
              <% tier.features.each do |feature| %>
                <div>
                  <span class="badge badge-success"><%= feature.join(": ") %></span>
                </div>
              <% end %>
            </td>
            <td>
              <% tier.qualifications.each do |qual| %>
                <div>
                  <span class="badge badge-danger"><%= qual.join(": ") %></span>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>