<div class="card mb-3">
  <div class="card-header">
    <strong>Trial Days</strong>
  </div>
  <div class="card-body">
    <% if billing.trial_starts_at %>
      <p>
        Trial started at:
        <strong><%= billing.trial_starts_at.localtime.strftime("%Y-%m-%e %H:%M") %></strong>
      </p>

      <p>
        Trial days left:
        <strong><%= billing.trial_days_left %></strong>
      </p>

      <hr>

      <%= form_tag(gold_admin_engine.reset_trial_days_path(id: billing.id), method: :put) do %>
        <input type="hidden" name="trial_action" value="reset">
        <p>
          Start the trial over starting today. The merchant won't be forced to update charge.
        </p>
        <%= submit_tag 'Reset trial', class: "btn btn-primary", data: {confirm: "You sure?"} %>
      <% end %>

      <hr>

      <%= form_tag(gold_admin_engine.reset_trial_days_path(id: billing.id), method: :put) do %>
        <input type="hidden" name="trial_action" value="clear">
        <p>
          Clear the trial and only start again once they choose a plan. The merchant will be 
          prompted to accept a new charge if they already have one.
        </p>
        <%= submit_tag 'Clear trial', class: "btn btn-secondary", data: {confirm: "You sure?"} %>
      <% end %>

    <% else %>
      <p>Trial not started yet</p>
    <% end %>
  </div>
</div>