<div class="card mb-3">
  <div class="card-header">
    <strong>Merchants</strong>
  </div>
  <div class="card-body">
    <% if billings.any? %>
      <table class="table celled">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Sign up</th>
            <th>Plan</th>
            <th>Monthly price</th>
            <th>Installed</th>
          </tr>
        </thead>
        <tbody>
          <% billings.each do |billing| %>
            <% shop = billing.shop %>
            <tr>
              <td><%= shop.domain %></td>
              <td><%= time_ago_in_words(shop.created_at) %> ago</td>
              <td><%= billing&.tier&.id %></td>
              <td>
                <%= number_to_currency(shop.monthly_price / 100) %>
              </td>
              <td>
                <% if shop.installed? %>
                  <span class="green">Yes</span>
                <% else %>
                  <span class="red">No</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No shops</p>
    <% end %>
  </div>
</div>
