<div class="card mb-3">
  <div class="card-header">
    <strong>Referral</strong>
  </div>
  <div class="card-body">
    <aside class="float-right">
      <a data-toggle="collapse" href="#collapseReferral">Change</a>

      <div id="collapseReferral" class="collapse mt-3">
        <%= form_tag(gold_admin_engine.add_billing_referral_path) do %>
          <input type="hidden" name="billing_id" value="<%= billing.id %>">
          <select name="referral_id">
            <option value="">None</option>
            <%= Gold::Referral.all.each do |referral| %>
              <option value="<%= referral.id %>" <% if billing.referral&.id == referral.id %>selected<% end %>><%= referral.code %></option>
            <% end %>
          </select>

          <input type="submit" class="btn btn-primary btn-sm" value="Update">
        <% end %>
      </div>
    </aside>

    <% if billing.referral %>
      <%= link_to(billing.referral.code, admin_referral_path(billing.referral)) %>
    <% else %>
      <p>No referral</p>
    <% end %>
  </div>
</div>