<%= form_for(referral, method: "delete", url: gold_admin_engine.delete_referral_path(referral.id)) do |f| %>
  <%= submit_tag "Delete referral", confirm: "Are you sure want to permanently delete this referral?", class: "btn btn-danger" %>
<% end %>