<%= form_for(referral, url: referral.new_record? ? gold_admin_engine.referrals_path : gold_admin_engine.referral_path(referral.id)) do |f| %>
  <div class="form-group">
    <label>Contact name</label>
    <%= f.text_field :contact_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Contact email</label>
    <%= f.email_field :contact_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Company</label>
    <p class="text-muted">Note: if left blank, merchant won't see a "Be sure to thank company" message.</p>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Code</label>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Discount percentage</label>
    <%= f.number_field :discount_percentage, class: "form-control", min: 0, max: 100 %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>