<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= Gold.configuration.app_name %></title>

    <% if ShopifyApp.configuration.embedded_app && billing.shop.installed? %>
      <script src="https://unpkg.com/@shopify/app-bridge@1.6.6/umd/index.js"></script>

      <script>
        var AppBridge = window['app-bridge'];
        var createApp = AppBridge.default;
        var app = createApp({
          apiKey: '<%= ShopifyApp.configuration.api_key %>',
          shopOrigin: '<%= billing.shop.shopify_domain %>',
        });
        var actions = window['app-bridge'].actions;
      </script>
    <% end %>

    <%= stylesheet_link_tag "shopify/polaris" %>
    <%= stylesheet_link_tag "gold/billing" %>

    <%= render "gold/billing/inner_head" %>
  </head>

  <body>
    <main>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
    <aside></aside>
    <%= javascript_include_tag "gold/billing" %>
  </body>
</html>
